.tichart {
  color: #0F172A;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.indatetag {
  border-radius: 6px;
  border: 1px solid #CBD5E1;
  background: var(--white, #FFF);
  width: 100px;
  font-size: 14px;
}
.labtag{
  font-size: 14px;
  margin-left: 10px;
  margin-right: 5px;
}