
.AlertBox {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.60);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100 !important;
}

.mgbox {
    border-radius: 6px;
    border: 1px solid #CBD5E1;
    background: #FFF;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 600px;
}

.mgatx01 {
    color: #0F172A;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.mgatx02 {
    color: #64748B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.btnmg01 {
    color: #0F172A;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid var(--slate-200, #E2E8F0);
    background: #FFF;
    padding:8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 4px;
    cursor: pointer;
}
.btnmg02{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid var(--slate-200, #0F172A);
    background: var(--slate-900, #0F172A);
    padding:8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 4px;
    cursor: pointer;
}
.all_spacevideo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconvideotx{
    color: #0F172A;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.1px;
}
.iconvideotx2{
    color: #0F172A;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.iconvideo{
    color: #0F172A;
    font-size: 20px;
    cursor: pointer;
}
.bordervid{
    border-radius: 8px !important;
}