

.bg_witebox {
    border-radius: 0px 15px 15px 0px !important;
    background: #FFF;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}
.bg_witebox::-webkit-scrollbar {
    display: none;
}
.bordround{
   
    border-radius: 0px 15px 15px 0px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navtx01 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.navtx02 {
    color: var(--slate-500, #64748B);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.admin {
    border-radius: 6px;
    border: 1px solid var(--slate-200, #E2E8F0);
    background: #FFF;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;

    color: #334155;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}

.bg_menicon {
    border-radius: 0px 15px 15px 0px;
    background: #F9F9F9;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menuicbox {
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.bg_menicon .active {
    background: var(--slate-100, #F1F5F9);
    
}

.txmen {
    color: var(--slate-700, #334155);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.iconmen {
    font-size: 16px;
}

.btnlogout {
    border-radius: 6px;
    background: var(--slate-900, #0F172A);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}

.upboxsetmenu {
    min-height: 90vh;
}

.dwboxmenu {
    display: flex;
    align-items: flex-end;
    min-height: 5vh;
    padding-bottom: 20px;
}