.alertbox {
    position: absolute;
    min-width: 300px;
    min-height: 70px;
    bottom: 20px;
    right: 20px;
    background-color: #FFF;
    /* margin-left: 20%; */
    border-radius: 12px;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
}

.alettx01{
    color: #0F172A;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}
.alettx02{
    color: var(--slate-500, #64748B);
font-size: 12px;
font-style: normal;
font-weight: 400;
}