.bg_black {
    background: #000;
    height: 100vh;
}

.logotx {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.bottx {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-align: justify;
}

.botbox {
    height: 46vh;
    margin-bottom: 4vh;
    margin-left: 4vh;
    margin-right: 4vh;
    display: flex;
    align-items: flex-end;
}

.upbox {
    height: 46vh;
    margin-top: 4vh;
    margin-left: 4vh;
    margin-right: 4vh;
    display: flex;
    align-items: flex-start;
}

.bg_white {
    height: 92vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 4vh;
    border-radius: 15px 0px 0px 15px;
    background: #FFF;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logtx01 {
    color: #0F172A;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.logtx02 {
    color: var(--slate-500, #64748B);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.loglab {
    color: #0F172A;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: -2%;
}

.loginput {
    display: flex;
    padding: 8px 56px 8px 12px;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #CBD5E1;
    background: #FFF;
}

.space_bet {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fog_tx {
    color: var(--slate-500, #64748B);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
}



